@model BookingEvent.Models.Event

@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid login-container d-flex">
    <div class="row w-100">
        <!-- Image Half -->
        <div class="col-md-6 image-container d-none d-md-block">
            <img src="~/Images/book.gif" alt="Login side Image" />
        </div>

        <!-- Login Form Half -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="w-75">

                <h4>Event</h4>
                <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueId" class="control-label"></label>
                <select asp-for="VenueId" class ="form-control" asp-items="ViewBag.VenueId"></select>
            </div>
            <br />
            <div class="d-flex justify-content-center align-items-center">
               <button type="submit" id="registerBtn" class="btn btn-primary">Book</button>
            </div>
        </form>
    </div>
</div>
    </div>
</div>
<br />
@* <div>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
