@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You!</h2>
<p>Your Booking has been received.</p>
<div class="col-md-6 image-container d-none d-md-block">
    <img src="~/images/thank.gif" alt="Thank You" />
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Click Here To Exit</a>
</div>
