 <!-- Events Section -->
<!-- Events Section -->
<section id="events" class="py-5">
    <div class="container">
        <h2 class="text-center">Browse Available Venues</h2><br />
        <div class="row mt-4">
            <!-- Event 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/picture1.jpeg" class="card-img-top" alt="Magadani Floor 1">
                    <div class="card-body">
                        <h5 class="card-title">Magadani Floor 1</h5>
                        <p class="card-text">Nzhelele Matshavhawe </p>
                        <p class="card-text">Capacity of 5000</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" id="loginBtn" class="btn btn-primary" onclick="location.href='/Events/Create'">Book</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event 2 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/pic2.jpg" class="card-img-top" alt="Mukhethwa Hall 2">
                    <div class="card-body">
                        <h5 class="card-title">Mukhethwa Hall 2</h5>
                        <p class="card-text">Louis Trichardt, Eltivillas </p>
                        <p class="card-text">Capacity of 1000.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" id="loginBtn" class="btn btn-primary" onclick="location.href='/Events/Create'">Book</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event 3 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/pic3.jpg" class="card-img-top" alt="Zwanga Hall 3e">
                    <div class="card-body">
                        <h5 class="card-title">Zwanga Hall 3e</h5>
                        <p class="card-text">Nzhelele Tshedza </p>
                        <p class="card-text">Capacity of 900.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" id="loginBtn" class="btn btn-primary" onclick="location.href='/Events/Create'">Book</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Event 4 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/pic4.jpeg" class="card-img-top" alt="Magadani Floor 2">
                    <div class="card-body">
                        <h5 class="card-title">Magadani Floor 2</h5>
                        <p class="card-text">Nzhelele Matshavhawe </p>
                        <p class="card-text">Capacity of 500</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" id="loginBtn" class="btn btn-primary" onclick="location.href='/Events/Create'">Book</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event 5 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/pic7.jpg" class="card-img-top" alt="Mukhethwa Hall 1">
                    <div class="card-body">
                        <h5 class="card-title">Mukhethwa Hall 1</h5>
                        <p class="card-text">Louis Trichardt, Eltivillas </p>
                        <p class="card-text">Capacity of 1000.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" id="loginBtn" class="btn btn-primary" onclick="location.href='/Events/Create'">Book</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event 6 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/pic6.jpg" class="card-img-top" alt="Zwanga Hall 1e">
                    <div class="card-body">
                        <h5 class="card-title">Zwanga Hall 1e</h5>
                        <p class="card-text">Nzhelele Tshedza </p>
                        <p class="card-text">Capacity of 800.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" id="loginBtn" class="btn btn-primary" onclick="location.href='/Events/Create'">Book</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--onclick="location.href='/Events/Create'"-->

        </div>
    </div>
</section>

